<!DOCTYPE html>
<html lang="en">
<head>
<title>Add a post - Online forum</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

/* Create two columns/boxes that floats next to each other */
.top-post {
    float: left;
    width: 35%;
    min-height: 50%;
    background: #F6FAF9;
    padding: 20px;
}


.add-post {
    float: left;
    padding: 0px 20px 20px 20px;
    width: 65%;
    min-height: 50%;
    background-color: #FEFFFF;

}

/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}

.txtarea{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
hr {
    height:1px;
    border:none;
    color:#000;
    background-color:#3BBB96;
    margin-bottom: 25px;
}
.addbtn {
  float: right;
  background-color: #3BBB96;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 0.9;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
</style>
</head>
<body>
<% include header.ejs %>
<br><br>
<section>

    <div class="add-post">
      <form action="/add_post" method="post" >
        <div class="container">
          <h1>Add post</h1>
          <hr>
          <label for="name"><b>Title</b></label>
          <input type="text" class="txtarea" placeholder="Enter title" name="title" required>

          <label for="email"><b>Description</b></label>
          <textarea class="txtarea" placeholder="Enter description" name="description" rows="8" cols="100" required></textarea>
          <!-- <input type="text" placeholder="Enter Email" name="email" required> -->
          <input type="hidden" name="user_id" value='<%= user_id %>'>
          <label>
          <div class="clearfix">
            <button type="submit" class="addbtn">Add</button>
          </div>
        </div>
      </form>
    </div>

  <div class="top-post">
    <h1>Top Discussions</h1>
    <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
    <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>

</div>

</section>


</body>
</html>
